<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plots-styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sensor Dashboard</h1>

        <!-- Display individual sensor plots -->
        <div class="plot-container">
            {{ temperature_plot|safe }}
            <p class="plot-title">Temperaturen im Klassenzimmer A (Letzte Stunde)</p>
        </div>

        <div class="plot-container">
            {{ humidity_plot|safe }}
            <p class="plot-title">Luftfeuchtigkeit im Klassenzimmer A (Letzte Stunde)</p>
        </div>

        <div class="plot-container">
            {{ co2_plot|safe }}
            <p class="plot-title">CO2-Konzentration im Klassenzimmer A (Letzte Stunde)</p>
        </div>

        <div class="plot-container">
            {{ tvoc_plot|safe }}
            <p class="plot-title">TVOC-Level im Klassenzimmer A (Letzte Stunde)</p>
        </div>

        <!-- Button to navigate back to the main page -->
        <form action="{{ url_for('index') }}" method="GET">
            <input type="submit" value="Zurück zur Startseite">
        </form>
    </div>
</body>
</html>
