<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontaktiere uns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="content">
        <h1>Kontaktiere uns</h1>
        <form action="/send_email" method="POST">

            <!-- Form Elemente -->
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>
            <label for="email">E-Mail:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="message">Nachricht:</label><br>
            <textarea id="message" name="message" rows="4" cols="30" required></textarea><br><br>
            <input type="submit" value="Senden">
        </form>

        <!-- Zurück zur Startseite -->
        <a href="/" class="button">Zurück zur Startseite</a>
    </div>

    <script>
        // Function to set a theme
        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }

        // Immediately invoked function to set the theme on initial load
        (function () {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-dark');
            } else {
                setTheme('theme-light');
            }
        })();
    </script>
</body>
</html>
