<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensordaten</title>
    <style>
        body, html {
            margin: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        h1 {
            text-align: center;
        }
        /* Modales Styling */
        .modal {
            display: none;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparenter schwarzer Hintergrund */
            overflow: auto;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border-radius: 8px;
            max-width: 400px;
            width: 80%;
            text-align: center;
        }
        .modal-button {
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensordaten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>KI-Lüftungssystem (Schule am Schloss)</h1>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" style="max-width: 200px;">
        </div>
    </header>
    <div class="container">
        <section>
            <h2>Über das Smart Lüftungssystem an der Schule am Schloss</h2>
            <p>Erhalten Sie aktuelle Sensordaten zu Temperatur, Luftfeuchtigkeit und CO2-Gehalt.</p>
            <p>Das System analysiert die Raumluftqualität und bietet Empfehlungen zur optimalen Belüftung für eine gesunde Lernumgebung.</p>
        </section>
        <section>
            <h2>Sensordaten</h2>
            {% if sensor_data %}
                <p><strong>Zeit:</strong> {{ sensor_data.get('time', 'Zurzeit nicht verfügbar') }}</p>
                <p><strong>Temperatur:</strong> {{ sensor_data.get('temperature', 'Zurzeit nicht verfügbar') }} °C</p>
                <p><strong>Luftfeuchtigkeit:</strong> {{ sensor_data.get('humidity', 'Zurzeit nicht verfügbar') }} %</p>
                <p><strong>CO2-Niveau:</strong> {{ sensor_data.get('co2', 'Zurzeit nicht verfügbar') }} ppm</p>
                <p><strong>TVOC-Niveau:</strong> {{ sensor_data.get('tvoc', 'Zurzeit nicht verfügbar') }}</p> 
                <p><strong>Außentemperatur:</strong> {{ sensor_data.get('ambient_temp', 'Zurzeit nicht verfügbar') }} °C</p> 
                {% if predictions|length > 0 %}
                    <p><strong>Logistic Regression Empfehlung:</strong> {{ "Fenster soll geöffnet werden" if predictions.get('Logistic Regression', 0) == 1 else "Fenster soll geschlossen bleiben" }}</p>
                    <p><strong>Decision Tree Empfehlung:</strong> {{ "Fenster soll geöffnet werden" if predictions.get('Decision Tree', 0) == 1 else "Fenster soll geschlossen bleiben" }}</p>
                    <p><strong>Random Forest Empfehlung:</strong> {{ "Fenster soll geöffnet werden" if predictions.get('Random Forest', 0) == 1 else "Fenster soll geschlossen bleiben" }}</p>
                {% else %}
                    <p>Zur Zeit keine Informationen vorhanden.</p>
                {% endif %}

            {% if sensor_data.temperature | int > 27 and sensor_data.humidity | int > 60 %}
            <p style="color: red; font-weight: bold;">Warnung: Hohe Temperatur und Luftfeuchtigkeit! Bitte für angenehme Bedingungen sorgen.</p>
            {% endif %}
            {% if sensor_data.co2 | int > 1000 %}
            <p style="color: red; font-weight: bold;">Warnung: CO2-Niveau ist zu hoch für optimalen Komfort von Schülern und Lehrern. Es wird dringend empfohlen, Fenster zu öffnen!</p>
            {% endif %}
            <form onsubmit="return submitFeedback(event, this);">
                <input type="hidden" name="is_correct" value="1">
                <input type="submit" value="Die Empfehlung war richtig" class="button">
            </form>
            <form onsubmit="return submitFeedback(event, this);">
                <input type="hidden" name="is_correct" value="0">
                <input type="submit" value="Die Empfehlung war nicht richtig" class="button">
            </form>
            <form action="/shutdown" method="POST">
                <input type="submit" value="Server herunterfahren" class="button">
            </form>
            <form action="{{ url_for('download_co2_data') }}" method="GET">
                <input type="submit" value="CO2-Daten des letzten Monats herunterladen" class="button">
            </form>
            {% else %}
            <p>Keine Sensordaten verfügbar.</p>
            {% endif %}
        </section>
        <section>
            <h2>Kontakt</h2>
            <p>Sie haben Fragen oder Anregungen? Kontaktieren Sie uns gerne.</p>
            <a href="{{ url_for('contact') }}" class="button">Kontakt</a>
        </section>

        <!-- New section for Design Auswählen button -->
        <section style="text-align: center;"> <!-- Ensure center alignment like other sections -->
            <button class="button" onclick="openDesignModal()">Design Auswählen</button>
        </section>

        <!-- Design Selection Modal -->
        <div id="designModal" class="modal">
            <div class="modal-content">
                <h2>Wählen Sie ein Design</h2>
                <button class="button" onclick="setTheme('theme-light')">Helles Design</button>
                <button class="button" onclick="setTheme('theme-dark')">Dunkles Design</button>
                <button class="button" onclick="closeDesignModal()">Schließen</button>
            </div>
        </div>

        <section>
            <h2>Weitere Informationen</h2>
            <p>Besuchen Sie unser Dashboard, um detaillierte Sensorwerte zu visualisieren.</p>
            <a href="{{ url_for('plots') }}" class="button">Sensor Werte als Dashboard anzeigen</a>
        </section>

    </div>

    <script>
        function submitFeedback(event, form) {
            event.preventDefault();
            var isCorrect = form.querySelector('input[name="is_correct"]').value;
            // Formularübermittlung simulieren (optional)
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/feedback", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        var feedbackMessage = response.feedback_message;
                        // Feedback-Meldung auf der Seite anzeigen
                        var messageElement = document.createElement('p');
                        messageElement.textContent = feedbackMessage;
                        form.parentNode.appendChild(messageElement); // Nachricht nach dem Formular anhängen
                    } else {
                        console.error("Error sending feedback:", xhr.status);
                    }
                }
            };
            xhr.send("is_correct=" + isCorrect);
            return false;
        }
        
        function updateTextColor() {
            var bodyBackgroundColor = document.body.style.backgroundColor;
            var bodyColor = document.body.style.color;
            // Sicherstellen, dass die Textfarbe mit der Hintergrundfarbe kontrastiert
            if (bodyBackgroundColor === '#333') {
                // Dunkler Hintergrund, Text auf helle Farbe setzen
                document.querySelectorAll('p, h1, h2, h3, h4, h5, h6').forEach(function(element) {
                    element.style.color = '#fff';
                });
            } else {
                // Heller Hintergrund, Text auf dunkle Farbe setzen
                document.querySelectorAll('p, h1, h2, h3, h4, h5, h6').forEach(function(element) {
                    element.style.color = '#333';
                });
            }
        }

        // Dunkler Modus standardmäßig beim Laden der Seite anwenden
        document.addEventListener('DOMContentLoaded', function() {
            selectDesign('dark'); // Dunklen Modus anfangs anwenden
        });
        function updatePredictions() {
        fetch("/predictions")
            .then(response => response.json())
            .then(predictions => {
                console.log("Received predictions:", predictions); // Diese Zeile ist für Debugging gedacht
                // HTML-Elemente mit Vorhersagen aktualisieren
                document.getElementById("logistic-regression").innerText = predictions["Logistic Regression"] || "N/A";
                document.getElementById("decision-tree").innerText = predictions["Decision Tree"] || "N/A";
                document.getElementById("random-forest").innerText = predictions["Random Forest"] || "N/A";
            })
            .catch(error => {
                console.error("Error fetching predictions:", error);
            });
        }

        // Funktion zum Festlegen eines Themas
        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }

        // Funktion zum Umschalten zwischen Hell- und Dunkelmodus
        function toggleTheme() {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-light');
            } else {
                setTheme('theme-dark');
            }
        }

        // Sofort aufgerufene Funktion zum Festlegen des Themas beim Initialisieren
        (function () {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-dark');
            } else {
                setTheme('theme-light');
            }
        })();

    </script>

    <!-- Link to external JavaScript for theme handling -->
    <script src="{{ url_for('static', filename='js/theme-handler.js') }}"></script>

</body>
</html>
