<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Sensor Data Plots</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }

        .chart-container {
            width: 400px; 
            height: 300px; 
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Real-time Sensor Data Plots</h1>

        <div class="chart-container">
            <canvas id="co2Chart"></canvas>
        </div>

        <div class="chart-container">
            <canvas id="temperatureChart"></canvas>
        </div>

        <div class="chart-container">
            <canvas id="humidityChart"></canvas>
        </div>

        <div class="chart-container">
            <canvas id="tvocChart"></canvas>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            // Funktion zum Parsen der Zeit in Stunden und Minuten
            function parseTimeToHourMinute(timeString) {
                const date = new Date(timeString);
                const hours = ('0' + date.getUTCHours()).slice(-2);
                const minutes = ('0' + date.getUTCMinutes()).slice(-2);
                return `${hours}:${minutes}`;
            }

            // CO2-Diagramm
            var co2Ctx = document.getElementById('co2Chart').getContext('2d');
            var co2Chart = new Chart(co2Ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'CO2 Levels',
                        data: [],
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                callback: function(value, index, values) {
                                    return parseTimeToHourMinute(value);
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            // Temperaturdiagramm
            var tempCtx = document.getElementById('temperatureChart').getContext('2d');
            var tempChart = new Chart(tempCtx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Temperature',
                        data: [],
                        borderColor: 'rgb(255, 99, 132)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                callback: function(value, index, values) {
                                    return parseTimeToHourMinute(value);
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            // Luftfeuchtigkeitsdiagramm
            var humidityCtx = document.getElementById('humidityChart').getContext('2d');
            var humidityChart = new Chart(humidityCtx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Humidity',
                        data: [],
                        borderColor: 'rgb(54, 162, 235)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                callback: function(value, index, values) {
                                    return parseTimeToHourMinute(value);
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

           // TVOC-Diagramm
            var tvocCtx = document.getElementById('tvocChart').getContext('2d');
            var tvocChart = new Chart(tvocCtx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'TVOC Levels',
                        data: [],
                        borderColor: 'rgb(255, 205, 86)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                callback: function(value, index, values) {
                                    return parseTimeToHourMinute(value);
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            function fetchData() {
                fetch('/data')
                    .then(response => response.json())
                    .then(data => {
                        const time = parseTimeToHourMinute(data.time);

                        // CO2-Diagramm aktualisieren
                        co2Chart.data.labels.push(time);
                        co2Chart.data.datasets[0].data.push(data.co2);
                        co2Chart.update();

                        // Temperaturdiagramm aktualisieren
                        tempChart.data.labels.push(time);
                        tempChart.data.datasets[0].data.push(data.temperature);
                        tempChart.update();

                        // Luftfeuchtigkeitsdiagramm aktualisieren
                        humidityChart.data.labels.push(time);
                        humidityChart.data.datasets[0].data.push(data.humidity);
                        humidityChart.update();

                        // TVOC-Diagramm aktualisieren
                        tvocChart.data.labels.push(time);
                        tvocChart.data.datasets[0].data.push(data.tvoc);
                        tvocChart.update();
                    });
            }

            setInterval(() => {
                fetchData();
            }, 20000); // Abruf von Daten alle 2 Minuten
        });

        // Funktion zum Einstellen eines Designs
        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }

        // Unmittelbar aufgerufene Funktion zum Einstellen des Designs beim ersten Laden
        (function () {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-dark');
            } else {
                setTheme('theme-light');
            }
        })();
    </script>
    
    <form action="{{ url_for('index') }}" method="GET">
        <button class="button">Zurück zur Hauptseite</button>
    </form>

</body>
</html>
