/* Header-Stile anpassen */
header {
    background-color: #f7eef9; /* Hellviolett */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #3e167d; /* Dunkelviolett */
    text-align: center;
}

/* weitere Stile zu Abschnitten hinzufügen */
section {
    background-color: #ffffff; /* Weißer Hintergrund */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #3e167d; /* Dunkelviolett */
    text-align: center;
}

/* Stil für Sensor-Datenkarten */
.card {
    background-color: #e2f5fb; /* Hellblau */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Button-Stile */
.button {
    background-color: #ff7f50; /* Koralle */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #ff6347; /* Tomato */
}

/* Formularstile */
form {
    margin-bottom: 10px;
}

/* Benutzerdefinierte Warnungen */
.alert {
    padding: 15px;
    background-color: #ffe4e1; /* Blassrosa */
    color: #ff6347; /* Tomato */
    border-radius: 5px;
    margin-bottom: 10px;
}
